<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="css/simple-line-icons.css" type="text/css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Raleway|Roboto|Source+Sans+Pro:200' rel='stylesheet' type='text/css'>
    </head>
    <body class="imageBackground">
        <div class="header">
            <div role="navigation" class="navbar navbar-default">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <h1 class="logo">
                                <a href="index.html">
                                    LOGO
                                </a>
                            </h1>
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="menu-default nav-collapse">
                                <div class="button_donate selected">
                                    <a href="connexion.html">
                                        <span data-hover="Connexion / Inscription">Connexion / Inscription</span>
                                    </a>
                                </div>
                                <div class="menu-container">
                                    <ul id="menu-main-menu" class="iw-nav-menu">
                                        <li>
                                            <a href="index.html"><strong>Home</strong></a>
                                        </li>
                                        <li>
                                            <a href="lesProjets.html"><strong>Les projets</strong></a>
                                        </li>
                                        <li>
                                            <a href="apropos.html"><strong>A propos</strong></a>
                                        </li>
                                        <li>
                                            <a href="contact.html"><strong>Contact</strong></a>
                                        </li>
                                        <li>
                                            <a class="connexionInscription" href="connexion.html"><strong>Connexion / Inscription</strong></a>
                                        </li>
                                    </ul>
                                </div>                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>			
        </div>
        <div class="container">
            <div id="content">
                <div class="contact-sec">
                    <div class="row">
                        <div class="col-md-12">	
                            <div class="widget-title">
                                <h3>Connexion</h3>
                            </div>
                            <div class="account-form">
                                <form class="ng-pristine ng-valid" id="formConnexion">
                                    <div class="row">
                                        <div class="feild col-md-12">
                                            <input type="text" placeholder="Mail" class="nameConnexion">
                                        </div>
                                        <div class="feild col-md-12">
                                            <input type="password" placeholder="Mot de passe">
                                        </div>
                                        <div class="feild col-md-12">
                                            <input type="submit" value="Se Connecter" class="connexionButton">
                                            <a href="inscription.html">Pas encore inscrit ?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>				
                    </div>
                </div>	
            </div>
        </div>  
        <script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script>
            $(function () {
                $(window).on('resize', function () {
                    var heigth = window.innerHeight;
                    if (heigth < 500) {
                        heigth = 400;
                    }
                    $('.slide-header').css('height', heigth);
                });
                $(window).trigger('resize');
            });
        </script>
    </body>
</html>
