<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="css/simple-line-icons.css" type="text/css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Raleway|Roboto|Source+Sans+Pro:200' rel='stylesheet' type='text/css'>
    </head>
    <body class="imageBackground">
        <div class="header">
            <div role="navigation" class="navbar navbar-default">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <h1 class="logo">
                                <a href="index.html">
                                    LOGO
                                </a>
                            </h1>
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="menu-default nav-collapse">                                
                                <div class="menu-container">
                                    <ul id="menu-main-menu" class="iw-nav-menu">
                                        <li class="selected">
                                            <a href="index.html"><strong>Home</strong></a>
                                        </li>
                                        <li>
                                            <a href="lesProjets.html"><strong>Les projets</strong></a>
                                        </li>
                                        <li>
                                            <a href="apropos.html"><strong>A propos</strong></a>
                                        </li>
                                        <li>
                                            <a href="contact.html"><strong>Contact</strong></a>
                                        </li>
                                        <li>
                                            <div class="btn-group connexionDropDown">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Adrien Cass <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
												<li><a href="#"><i class="icon-settings"></i>Mon Compte</a></li>
												<li><a href="#"><i class="icon-bag"></i>Mes Projets</a></li>
												<li><a href="#"><i class="icon-logout"></i>Deconnexion</a></li>
											  </ul>
											</div>
                                        </li>
                                    </ul>
                                </div>                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>			
        </div>
		
		<div class="container boxSettingUser">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12 menu">
					<ul>
						<li><a href="monCompte.html">Mon Compte</a></li>
						<li ><a href="mesProjets.html">Mes Projets</a></li>
						<li class="selected"><a href="creationProjet.html">Création projet</a></li>
					</ul>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-12 box  account-form">
					<form class="">
					  <p class="titre">1 - Information sur le projet</p>
					  <div class="form-group">
						<label for="exampleInputEmail1">Nom du projet</label>
						<input type="text" class="form-control" id="exampleInputEmail1">
					  </div>
					  
					  <div class="form-group">
						<label for="exampleInputEmail1">Date fin de la campagne</label>
						<input type="text" class="form-control datepicker" id="exampleInputEmail1" >
					  </div>
					  
					  <div class="form-group">
						<label for="exampleInputEmail1">Objectif (en euro)</label>
						<input type="text" class="form-control datepicker" id="exampleInputEmail1" >
					  </div>
					  
					  <div class="form-group">
						<label for="exampleInputEmail1">Description</label>
						<textarea></textarea>
					  </div>
					  
					  <div class="form-group">
						<label for="exampleInputEmail1">Image</label>
						<input type="file">
					  </div>
					  
					  <p class="titre">2 - Ajouter des récompenses</p>
					  <p class="addRecompense"><i class="icon-plus"></i> Ajouter une récompenses</p>
					  <ul class="listeRecompense">
					  </ul>
					  <div class="feild center">
							<input type="submit" value="Créer projet" class="connexionButton">
						</div>
					</form>
				</div>
			</div>
		</div>
        <script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script>
			$(function(){
			
				var nbElement = $('.listeRecompense li').length;
				$('.addRecompense').click(function(){
					nbElement++;
					$('.listeRecompense').prepend('<li><i class="icon-close"></i>'
					    + '<div class="form-group">'
						+ '<label for="exampleInputEmail1">Montant (si montant inférieur à la somme)</label>'
						+ '<input type="text" class="form-control" name="recompense_montant_'+nbElement+'" >'
						+ '</div>'
						+ '<div class="form-group">'
						+ '<label for="exampleInputEmail1">Description</label>'
						+ '<input type="text" class="form-control" name="recompense_description_'+nbElement+'" >'
						+ '</div></li>');
				});
				
				$('.listeRecompense').on('click', '.icon-close', function(){
					$(this).parent().remove();
				});
				
			});
        </script>
    </body>
</html>
