<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="css/simple-line-icons.css" type="text/css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Raleway|Roboto|Source+Sans+Pro:200' rel='stylesheet' type='text/css'>
    </head>
    <body class="projetBody">
        <div class="header">
            <div role="navigation" class="navbar navbar-default">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <h1 class="logo">
                                <a href="index.html">
                                    LOGO
                                </a>
                            </h1>
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="menu-default nav-collapse">
                                <div class="button_donate">
                                    <a href="connexion.html">
                                        <span data-hover="Connexion / Inscription">Connexion / Inscription</span>
                                    </a>
                                </div>
                                <div class="menu-container">
                                    <ul id="menu-main-menu" class="iw-nav-menu">
                                        <li>
                                            <a href="index.html"><strong>Home</strong></a>
                                        </li>
                                        <li class="selected">
                                            <a href="lesProjets.html"><strong>Les projets</strong></a>
                                        </li>
                                        <li>
                                            <a href="apropos.html"><strong>A propos</strong></a>
                                        </li>
                                        <li>
                                            <a href="contact.html"><strong>Contact</strong></a>
                                        </li>
                                        <li>
                                            <a class="connexionInscription" href="connexion.html"><strong>Connexion / Inscription</strong></a>
                                        </li>
                                    </ul>
                                </div>                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>			
        </div>
        <div class="boxRecherche boxHeaderProjet">
            <div class="row">
                <div class="container">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form>
                            <input type="text" name="recherche" placeholder="Recherche ..." />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="projetPopulaireTitre">
            <div class="row">
                <div class="container">
                    <div class="col-md-12">
                        <div class="boxItems">
                            <div class="col-md-4 item">
                                <div class="image">
                                    <a href="projet.html">
                                        <div>
                                            <div class="monImage" style="background-image: url('image/image1.jpg')"></div> 
                                            <div class="hover">
                                                <p>100%</p>
                                                <p class="sub-title">Objectif</p>
                                            </div>
                                        </div>    
                                    </a>
                                </div>
                                <div class="detail">
                                    <h3><a href="projet.html">Name project</a></h3>
                                    <div class="icons">
                                        <span class="entry">
                                            <i class="fa fa-tags"></i>
                                            <a href="#">afrique</a>,
                                            <a href="#">ecole</a>
                                        </span>
                                        <span class="entry">
                                            <i class="fa fa-money"></i>
                                            Objectif:
                                            <strong>$15000</strong>
                                        </span>
                                    </div>
                                    <p class="descriptioProjet">Altero a de incidisset Fannio sermo exposui cum Eius hoc in atque videretur incidisset incidisset ne et meo saepius sententias Scaevola exposuit illo et ipsam....</p>
                                </div>
                            </div>
                             <div class="col-md-4 item">
                                <div class="image">
                                    <a href="projet.html">
                                        <div>
                                            <div class="monImage" style="background-image: url('image/image2.jpg')"></div> 
                                            <div class="hover">
                                                <p>100%</p>
                                                <p class="sub-title">Objectif</p>
                                            </div>
                                        </div>    
                                    </a>
                                </div>
                                <div class="detail">
                                    <h3><a href="projet.html">Name project</a></h3>
                                    <div class="icons">
                                        <span class="entry">
                                            <i class="fa fa-tags"></i>
                                            <a href="#">afrique</a>,
                                            <a href="#">ecole</a>
                                        </span>
                                        <span class="entry">
                                            <i class="fa fa-money"></i>
                                            Objectif:
                                            <strong>$15000</strong>
                                        </span>
                                    </div>
                                    <p class="descriptioProjet">Altero a de incidisset Fannio sermo exposui cum Eius hoc in atque videretur incidisset incidisset ne et meo saepius sententias Scaevola exposuit illo et ipsam....</p>
                                </div>
                            </div>
                             <div class="col-md-4 item">
                                <div class="image">
                                    <a href="projet.html">
                                        <div>
                                            <div class="monImage" style="background-image: url('image/image2.jpg')"></div> 
                                            <div class="hover">
                                                <p>100%</p>
                                                <p class="sub-title">Objectif</p>
                                            </div>
                                        </div>    
                                    </a>
                                </div>
                                <div class="detail">
                                    <h3><a href="projet.html">Name project</a></h3>
                                    <div class="icons">
                                        <span class="entry">
                                            <i class="fa fa-tags"></i>
                                            <a href="#">afrique</a>,
                                            <a href="#">ecole</a>
                                        </span>
                                        <span class="entry">
                                            <i class="fa fa-money"></i>
                                            Objectif:
                                            <strong>$15000</strong>
                                        </span>
                                    </div>
                                    <p class="descriptioProjet">Altero a de incidisset Fannio sermo exposui cum Eius hoc in atque videretur incidisset incidisset ne et meo saepius sententias Scaevola exposuit illo et ipsam....</p>
                                </div>
                            </div>
                             <div class="col-md-4 item">
                                <div class="image">
                                    <a href="projet.html">
                                        <div>
                                            <div class="monImage" style="background-image: url('image/image2.jpg')"></div> 
                                            <div class="hover">
                                                <p>100%</p>
                                                <p class="sub-title">Objectif</p>
                                            </div>
                                        </div>    
                                    </a>
                                </div>
                                <div class="detail">
                                    <h3><a href="projet.html">Name project</a></h3>
                                    <div class="icons">
                                        <span class="entry">
                                            <i class="fa fa-tags"></i>
                                            <a href="#">afrique</a>,
                                            <a href="#">ecole</a>
                                        </span>
                                        <span class="entry">
                                            <i class="fa fa-money"></i>
                                            Objectif:
                                            <strong>$15000</strong>
                                        </span>
                                    </div>
                                    <p class="descriptioProjet">Altero a de incidisset Fannio sermo exposui cum Eius hoc in atque videretur incidisset incidisset ne et meo saepius sententias Scaevola exposuit illo et ipsam....</p>
                                </div>
                            </div> <div class="col-md-4 item">
                                <div class="image">
                                    <a href="projet.html">
                                        <div>
                                            <div class="monImage" style="background-image: url('image/image2.jpg')"></div> 
                                            <div class="hover">
                                                <p>100%</p>
                                                <p class="sub-title">Objectif</p>
                                            </div>
                                        </div>    
                                    </a>
                                </div>
                                <div class="detail">
                                    <h3><a href="projet.html">Name project</a></h3>
                                    <div class="icons">
                                        <span class="entry">
                                            <i class="fa fa-tags"></i>
                                            <a href="#">afrique</a>,
                                            <a href="#">ecole</a>
                                        </span>
                                        <span class="entry">
                                            <i class="fa fa-money"></i>
                                            Objectif:
                                            <strong>$15000</strong>
                                        </span>
                                    </div>
                                    <p class="descriptioProjet">Altero a de incidisset Fannio sermo exposui cum Eius hoc in atque videretur incidisset incidisset ne et meo saepius sententias Scaevola exposuit illo et ipsam....</p>
                                </div>
                            </div>
                            
                            <div class="col-md-4 item">
                                <div class="image">
                                    <a href="projet.html">
                                        <div>
                                            <div class="monImage" style="background-image: url('image/image2.jpg')"></div> 
                                            <div class="hover">
                                                <p>100%</p>
                                                <p class="sub-title">Objectif</p>
                                            </div>
                                        </div>    
                                    </a>
                                </div>
                                <div class="detail">
                                    <h3><a href="projet.html">Name project</a></h3>
                                    <div class="icons">
                                        <span class="entry">
                                            <i class="fa fa-tags"></i>
                                            <a href="#">afrique</a>,
                                            <a href="#">ecole</a>
                                        </span>
                                        <span class="entry">
                                            <i class="fa fa-money"></i>
                                            Objectif:
                                            <strong>$15000</strong>
                                        </span>
                                    </div>
                                    <p class="descriptioProjet">Altero a de incidisset Fannio sermo exposui cum Eius hoc in atque videretur incidisset incidisset ne et meo saepius sententias Scaevola exposuit illo et ipsam....</p>
                                </div>
                            </div>

                            <div class="col-md-4 item">
                                <div class="image">
                                    <a href="projet.html">
                                        <div>
                                            <div class="monImage" style="background-image: url('image/image1.jpg')"></div> 
                                            <div class="hover">
                                                <p>100%</p>
                                                <p class="sub-title">Objectif</p>
                                            </div>
                                        </div>    
                                    </a>
                                </div>
                                <div class="detail">
                                    <h3><a href="projet.html">Name project</a></h3>
                                    <div class="icons">
                                        <span class="entry">
                                            <i class="fa fa-tags"></i>
                                            <a href="#">afrique</a>,
                                            <a href="#">ecole</a>
                                        </span>
                                        <span class="entry">
                                            <i class="fa fa-money"></i>
                                            Objectif:
                                            <strong>$15000</strong>
                                        </span>
                                    </div>
                                    <p class="descriptioProjet">Altero a de incidisset Fannio sermo exposui cum Eius hoc in atque videretur incidisset incidisset ne et meo saepius sententias Scaevola exposuit illo et ipsam....</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
    </body>
</html>
