body {
	background: #FFF;
	font-family: "Raleway";
	overflow-x: hidden;
}

.center {
	text-align: center;
}

.header {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 1000;
}

.header .navbar-default {
	background-color: rgba(0, 0, 0, 0);
	border: 0 none;
	margin: 0;
}

.header .logo {
	margin: 0;
	padding: 30px 0;
}

.header a, .header a:hover, .header a:link {
	color: #FFF;
	text-decoration: none;
}

.header .navbar .menu-default {
	border: medium none;
	float: right;
	margin-top: 40px;
	font-family: "Source Sans Pro";
	font-size: 20px;
	text-transform: uppercase;
}

.header .navbar .menu-default::after {
	clear: both;
	content: "";
	display: block;
}

.button_toggle {
	display: none;
}
.fr-box{
	border: 2px solid #DADADA;
	padding: 15px;
}

.button_donate {
	float: right;
	margin-left: 20px;
	font-size: 25px;
	position: relative;
	top: -10px;
}

.button_donate a {
	border: 2px solid #fff;
	border-radius: 30px;
	display: inline-block;
	overflow: hidden;
}

.button_donate.selected a {
	background: #FFF;
	color: #000;
}

.button_donate.selected a span {
	color: #000;
}

.button_donate.selected:hover a span {
	transform: translateY(0%);
}

.button_donate a span::before {
	content: attr(data-hover);
	display: inline-block;
	font-weight: 700;
	position: absolute;
	top: 100%;
	transform: translate3d(0px, 0px, 0px);
}

.button_donate a span {
	line-height: 40px;
	padding: 0 20px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	position: relative;
	text-transform: uppercase;
	transition: transform 0.3s ease 0s;
}

.button_donate:hover a span {
	transform: translateY(-100%);
}

.header .menu-default .menu-container {
	float: right;
	display: block;
}

.chiffreDon {
	background: #F26C55;
	color: #FFF;
	width: 49%;
	display: inline-block;
	padding: 25px;
	text-align: center;
	margin-bottom: 25px;
}

.obligatoire{
	border-color: #e74c3c !important;
	color: #e74c3c !important;
}
.obligatoireText{
	color: #e74c3c !important;
	font-size: 15px;
	margin-left: 3px;
}
.chiffreDon span {
	font-size: 25px;
	display: block;
}

.header .menu-default .menu-container ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.padding50{
	padding: 100px 50px;
}
.header .menu-default .menu-container>ul>li {
	float: left;
	padding-bottom: 10px;
	position: relative;
}

.header .menu-default .menu-container ul>li>a {
	color: #fff;
	font-size: 14px;
	padding: 10px 20px;
}

.header .menu-default .menu-container ul>li>a strong::before {
	background: transparent none repeat scroll 0 0;
	bottom: -5px;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
	transform: scale3d(0, 1, 1);
	transition: transform 0.1s ease 0s;
	width: 100%;
}

.header .menu-default .menu-container ul>li>a strong::after {
	background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
	content: "";
	height: 14px;
	position: absolute;
	right: -20px;
	top: 3px;
	width: 1px;
}

.header .menu-default .menu-container ul>li:last-child>a strong::after {
	display: none;
}

.header .menu-default .menu-container ul>li>a strong {
	position: relative;
}

.header .menu-default .menu-container ul>li:hover>a strong::before {
	transform: scale3d(1, 1, 1);
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .menu-default .menu-container ul>li.selected>a strong::before {
	transform: scale3d(1, 1, 1);
}

.header .menu-default .menu-container ul>li>a:hover strong::before,
	.header .menu-default .menu-container ul>li.selected>a strong::before {
	background-color: #fff;
}

.slide-header {
	background: url('../image/background.jpg') no-repeat;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.bg-svg
 
svg
:not
 
(
:root
 
)
{
overflow
:
 
hidden
;


}
.bg-svg {
	bottom: 130px;
	position: relative;
	width: 100%;
}

.bg-svg svg {
	height: 140px;
	width: 100%;
	overflow: hidden;
}

.bg-svg .fill-color {
	fill: rgba(58, 183, 169, 0.5);
}

.bg-svg .fill-color2 {
	fill: #3AB7A9;
}

.boxChiffre {
	bottom: 0;
	height: 100%;
	left: 0;
	position: relative;
	overflow: hidden;
	right: 0;
	width: 100%;
}

.boxChiffre .element {
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	width: 100%;
	z-index: 99;
}

.boxChiffre .info {
	left: 45%;
	position: relative;
	text-align: left;
}

.boxChiffre .info .title {
	color: #fff;
	font-size: 30px;
}

.boxChiffre .info .desc {
	color: #fff;
	font-size: 14px;
	margin-bottom: 155px;
	position: relative;
}

.boxChiffre .info .desc::before {
	border: 2px solid #3AB7A9;
	border-radius: 20px;
	content: "";
	left: 0;
	position: absolute;
	top: 22px;
	width: 65px;
}

.boxChiffre .dotted-line {
	background: rgba(0, 0, 0, 0) url("../image/dotted.png") repeat-y scroll
		0 0;
	content: "";
	height: 126px;
	left: 50%;
	margin-top: 10px;
	overflow: hidden;
	position: absolute;
	top: 65px;
	width: 100%;
}

.icon-facts i {
	background: #fff none repeat scroll 0 0;
	border-radius: 50%;
	height: 45px;
	line-height: 45px;
	width: 45px;
	font-size: 30px;
	color: #3AB7A9;
}

.slide-header .row, .slide-header .row .container, .slide-header .row .container .item
	{
	height: 100%;
}

.slide-header .row .container {
	width: 100%;
}

.populaire {
	background: #3AB7A9;
}

.populaire .text {
	padding: 35px 150px;
	color: #FFF;
	font-size: 20px;
	text-align: center;
}

.slide-header .titre {
	background: rgba(58, 183, 169, 0.5);
	font-family: 'Roboto';
	color: #FFF;
	padding: 20px;
	position: absolute;
	top: 150px;
	right: 15%;
}

.projetPopulaireTitre .boxItems {
	margin: 50px 0;
	overflow: hidden;
}

.projetPopulaireTitre h2 {
	color: #FFF;
	font-size: 36px;
	margin: 0 0 75px;
	font-family: 'Source Sans Pro';
	padding: 0;
	text-align: center;
}

.projetPopulaireTitre h2::after {
	background: rgba(0, 0, 0, 0) url("../image/border.png") no-repeat scroll
		0 0;
	top: 50px;
	content: "";
	height: 13px;
	left: 50%;
	margin-left: -107px;
	position: absolute;
	width: 214px;
}

.projetPopulaireTitre .boxItems .item {
	margin-right: 20px;
	margin-left: -20px;
}

.projetPopulaireTitre .boxItems .image {
	overflow: hidden;
	position: relative;
}

.projetPopulaireTitre .boxItems .image .monImage {
	display: block;
	width: 100%;
	height: 300px;
	background-size: cover;
}

.projetPopulaireTitre .boxItems .image .hover {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 10%,
		rgba(255, 255, 255, 0) 90%);
	box-sizing: border-box;
	height: 100%;
	transition: all 0.3s ease 0s;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
}

.projetPopulaireTitre .boxItems .image .hover:hover {
	opacity: 1;
}

.projetPopulaireTitre .boxItems .image .hover p {
	bottom: 35px;
	color: #fff;
	font-size: 24px;
	font-weight: 200;
	margin-bottom: 20px;
	left: -100px;
	font-size: 40px;
	position: absolute;
	transition: all 0.3s ease 0s;
}

.projetPopulaireTitre .boxItems .image .hover:hover p {
	left: 50px;
}

.projetPopulaireTitre .boxItems .image .hover p.sub-title {
	font-size: 16px;
	bottom: 20px;
}

.projetPopulaireTitre .boxItems .detail {
	padding: 15px;
	background: #FFF;
}

.projetPopulaireTitre .boxItems .detail h3 {
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
	color: #777;
	font-weight: bold;
	font-size: 18px;
	margin: 10px 0;
}

.projetPopulaireTitre .boxItems .detail a, .projetPopulaireTitre .boxItems .detail a:link,
	.projetPopulaireTitre .boxItems .detail a:hover {
	color: #777;
	text-decoration: none;
}

.projetPopulaireTitre .boxItems .detail a:hover, .projetPopulaireTitre .boxItems .detail h3:hover
	{
	color: #3AB7A9;
	cursor: pointer;
}

.projetPopulaireTitre .boxItems .detail .entry {
	margin-right: 15px;
	color: #777;
	font-family: 'Source Sans Pro';
	text-transform: uppercase;
}

.projetPopulaireTitre .boxItems .detail .descriptioProjet {
	color: #777;
	font-family: 'Source Sans Pro';
	margin: 10px 0;
	overflow: hidden;
	word-wrap: break-word;
	height: 40px;
}

.projetPopulaireTitre .detail h3 a {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

.projetPopulaireTitre .boxItems .detail .entry i {
	margin: 0 3px;
}

.footer {
	width: 100%;
	padding: 15px;
	text-align: center;
	background: #FFF;
}

.carte {
	background: url('../image/monde.png') center center no-repeat #23a092;
	background-size: cover;
	height: 320px;
	overflow: hidden;
}

.carte .buttonCreationProjet {
	background: #fff none repeat scroll 0 0;
	color: #777;
	display: block;
	font-family: "Source Sans Pro";
	font-size: 25px;
	padding: 25px 45px;
	text-align: center;
	width: 260px;
	margin: 120px auto 0;
}

.carte a, .carte a:hover, .carte a:link {
	text-decoration: none;
}

.carte a:hover {
	color: #3AB7A9;
}

.video {
	width: 100%;
	height: 450px;
}

.video video {
	width: 100%;
	background-color: #3AB7A9;
	background-image: url('../image/video.png');
	object-fit: cover;
	background-position: center center;
	background-size: contain;
	height: 450px;
	cursor: pointer;
}

.connexionInscription {
	display: none;
}

.contact-sec {
	background: #ffffff none repeat scroll 0 0;
	border-radius: 5px;
	padding: 25px;
	width: 50%;
	overflow: hidden;
	margin: 150px auto 0;
}

.account-form>form div.feild>input[type="text"], .account-form>form div.feild>input[type="password"]
	{
	border: 1px solid #DADADA;
	border-radius: 30px;
	float: left;
	font-size: 13px;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
	padding: 13px 30px;
	width: 100%;
}

.account-form>form .feild>a {
	margin-top: 20px;
	float: left;
	padding: 14px 30px;
}

.contact-sec .widget-title {
	float: left;
	margin-bottom: 22px;
	width: 100%;
}

.contact-sec .widget-title h3 {
	color: #2e2e2e;
	float: left;
	font-size: 16px;
	margin: 0 0 5px;
	padding-right: 30px;
}

.contact-sec .account-form {
	float: left;
	width: 100%;
}

.contact-sec .account-form>form {
	float: left;
	width: 100%;
}

.account-form>form div.feild {
	float: left;
}

.account-form>form .feild>input[type="submit"] {
	background: #47AFA3 none repeat scroll 0 0;
	border: medium none;
	border-radius: 25px;
	color: #ffffff;
	float: left;
	font-size: 12px;
	margin-top: 20px;
	padding: 14px 30px;
	font-family: 'Raleway';
}

.imageBackground {
	background: url(../image/background.jpg) no-repeat center center fixed
		transparent;
	background-size: cover;
}

.more-option::before {
	background: #DADADA none repeat scroll 0 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 50%;
	width: 25px;
}

.more-option::after {
	background: #DADADA none repeat scroll 0 0;
	content: "";
	height: 1px;
	position: absolute;
	right: 0;
	top: 50%;
	width: 25px;
}

.more-option {
	padding: 36px 0;
	position: absolute;
	right: -80px;
	text-align: center;
	top: 50%;
	transform: rotate(-90deg) translateX(50%);
	width: 100px;
}

.more-option span {
	color: #999;
}

.creat-an-account {
	display: table;
	float: left;
	padding-left: 100px;
	padding-top: 60px;
	vertical-align: middle;
	width: 100%;
}

.creat-an-account>span {
	color: #858585;
	float: left;
	font-size: 13px;
	text-align: left;
	width: 100%;
}

.creat-an-account>a {
	background: #ff5f5f none repeat scroll 0 0;
	border-radius: 40px;
	color: #ffffff;
	float: left;
	font-size: 13px;
	text-decoration: none;
	margin-top: 19px;
	padding: 14px 30px;
}

.creat-an-account h4 {
	color: #555555;
	float: left;
	font-size: 13px;
	margin: 33px 0 0;
	width: 100%;
}

.inscription .widget-title h3, .inscription .account-form>form .feild>.connexionButton
	{
	float: none;
}

.boxHeaderProjet {
	background: url('../image/background1.jpg') center center no-repeat;
	background-size: cover;
	height: 250px;
	overflow: hidden;
	position: relative;
}

.boxHeaderProjet h1 {
	bottom: 15px;
	color: #fff;
	font-weight: 200;
	margin-bottom: 10px;
}

.boxHeaderProjet .boxTitre {
	display: table-cell;
	height: 250px;
	overflow: hidden;
	position: relative;
	vertical-align: bottom;
	padding-bottom: 25px;
	width: 100%;
}

.boxHeaderProjet h1 {
	font-family: 'Roboto';
}

.boxHeaderProjet .boxTitre a, .boxHeaderProjet .boxTitre a:hover,
	.boxHeaderProjet .boxTitre a:link {
	color: #FFF;
	text-decoration: none;
}

.boxHeaderProjet .boxTitre .entry {
	margin-right: 15px;
	color: #FFF;
	font-size: 18px;
	font-family: 'Source Sans Pro';
	text-transform: uppercase;
}

.boxHeaderProjet .boxTitre .descriptioProjet {
	color: #777;
	font-family: 'Source Sans Pro';
	margin: 10px 0;
}

.project {
	margin: 50px 0;
}

.project .description>img {
	width: 100%;
}

.project .description p {
	margin: 15px 0;
	font-family: 'Source Sans Pro';
	color: #6f797a;
	line-height: 24px;
	font-size: 16px;
}

.topChiffre .chiffre {
	font-size: 70px;
	font-weight: 700;
	margin: 0;
}

.topChiffre .sub-title {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 30px;
	margin-top: 0;
	color: #6f797a;
}

.topChiffre.red {
	color: #F26C4F;
}

.topChiffre.green {
	color: #3CB878;
}

.topChiffre.blue {
	color: #0072BC;
}

.recompense {
	list-style: none;
	color: #FFF;
	overflow: hidden;
	margin: 0;
	padding: 1px;
}

.recompense li {
	padding: 35px;
	margin-bottom: 20px;
	font-family: 'Source Sans Pro';
	font-size: 15px;
	background: #3AB7A9;
}

.recompense li .euro {
	font-size: 25px;
	font-weight: bold;
}

/*.recompense .color1{
    background: #2ECC71;
}
.recompense .color2{
    background: #E74C3C;
}
.recompense .color3{
    background: #9B59B6;
}
.recompense .color4{
    background: #1ABC9C;
}*/
.buttonFaireDonLien {
	border: 2px solid #3AB7A9;
	color: #FFF;
	padding: 10px;
	background: #3AB7A9;
	position: absolute;
	right: 0;
	bottom: 20px;
	text-transform: uppercase;
	font-family: "Source Sans Pro";
	padding: 20px 35px;
	font-size: 20px;
}

.blockInfoProjet {
	padding: 30px 0;
	color: #FFF;
	font-family: "Roboto";
	background: #3AB7A9;
}

.blockInfoProjet img {
	width: 100%;
	height: 200px;
}

.blockInfoProjet .lesChiffreProjet {
	font-family: "Roboto";
	overflow: hidden;
}

.blockInfoProjet .lesChiffreProjet .sommeActuelle {
	font-size: 40px;
	float: left;
}

.blockInfoProjet .progress-bar-info {
	background-color: #F26C4F;
}

.blockInfoProjet .lesChiffreProjet .jourRestant {
	float: right;
	font-size: 35px;
}

.blockInfoProjet .lesChiffreProjet .jourRestant .luna {
	float: right;
	font-size: 15px;
	margin-left: 15px;
	vertical-align: bottom;
}

.timeline::before {
	background: #ececec none repeat scroll 0 0;
	bottom: 0;
	content: "";
	display: block;
	margin-left: 38px;
	position: absolute;
	top: 0;
	width: 4px;
}

.timeline {
	padding: 0 15px;
	margin: 0 0 30px;
	position: relative;
}

.timeline .timeline-item {
	margin: 0;
	padding: 0;
}

.timeline .timeline-badge {
	float: left;
	height: 80px;
	padding-right: 30px;
	position: relative;
	width: 80px;
}

.timeline .timeline-badge img {
	vertical-align: middle;
}

.timeline .timeline-badge-userpic {
	border: 4px solid #ececec;
	border-radius: 50% !important;
	width: 80px;
}

.timeline .timeline-body::after, .timeline .timeline-body::before {
	content: " ";
	display: table;
}

.timeline .timeline-body {
	background-color: #ececec;
	border-radius: 4px;
	margin-left: 110px;
	margin-top: 20px;
	padding: 20px;
	position: relative;
}

.timeline .timeline-body-arrow {
	border-color: transparent #ececec transparent transparent;
	border-style: solid;
	border-width: 14px 14px 14px 0;
	height: 0;
	left: -14px;
	position: absolute;
	top: 30px;
	width: 0;
}

.timeline .timeline-body-head {
	margin-bottom: 10px;
}

.timeline .timeline-body-head-caption {
	float: left;
}

.timeline .timeline-body-alerttitle, .timeline .timeline-body-title {
	font-size: 16px;
	font-weight: 600;
}

.commentaire .ajouterCommentaire {
	margin: 10px;
	background: #3AB7A9;
	color: #FFF;
	padding: 10px 30px;
	border: 0;
}

.contributeurs, .tabs .contributeurs ul {
	background: #FFF;
}

.contributeurs li img {
	width: 80px;
	border: 4px solid #ececec;
	border-radius: 50% !important;
}

.tabs .contributeurs ul li {
	width: 100%;
	border-bottom: 2px solid #DADADA;
}

.tabs .contributeurs ul li:hover {
	color: #777;
	cursor: normal;
}

.contributeurs li span {
	margin-left: 30px;
}

.font-blue-madison {
	color: #578ebe !important;
}

.timeline .timeline-body-time {
	font-size: 14px;
	margin-left: 10px;
}

.font-grey-cascade {
	color: #95a5a6 !important;
}

.timeline .timeline-body-content {
	font-size: 14px;
	margin-top: 35px;
}

.tabs {
	border: 2px solid #3AB7A9;
}

.tabs ul {
	list-style: none;
	margin: 0;
	padding: 5px 15px 0 15px;
	background: #3AB7A9;
}

.tabs ul li {
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
}

.tabs ul li.active {
	background: #FFF;
}

.tabs ul li:hover {
	background: #FFF;
	color: #3AB7A9;
}

.tabs ul li.active a, .tabs ul li.active a:hover, .tabs ul li.active a:link
	{
	color: #3AB7A9;
}

.tabs ul a, .tabs ul a:hover, .tabs ul a:link {
	color: #FFF;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.tabs ul li:hover a {
	color: #3AB7A9;
}

.faireDon h2 {
	margin: 35px;
	font-family: "Source Sans Pro";
}

.faireDon .inputRange {
	margin: 35px;
}

.faireDon .inputRange .valeurRange {
	text-align: center;
	display: block;
	padding: 25px;
	font-family: "Roboto";
	font-size: 35px;
	color: #F26C4F;
}

.faireDon .buttonDon {
	background: #f26c55 none repeat scroll 0 0;
	border: 0 none;
	color: #fff;
	margin: 0 auto 15px;
	padding: 15px 100px;
}

.faireDon .inputRange .rangeSlider__fill {
	background: #F26C55;
	height: 15px;
}

.faireDon .inputRange .rangeSlider {
	height: 15px;
	background: #DADADA;
}

.faireDon .inputRange .rangeSlider__handle {
	height: 30px;
	width: 30px;
}

#modalAddCommentaire textarea {
	width: 100%;
	border: 1px solid #DADADA;
	height: 250px;
}

#modalAddCommentaire .modal-header, #modalAddCommentaire .modal-footer {
	background: #3AB7A9;
	color: #FFF;
}

#modalAddCommentaire .modal-footer {
	color: #3AB7A9;
}

.boxRecherche form {
	bottom: -180px;
	overflow: hidden;
	padding-bottom: 25px;
	position: relative;
	text-align: center;
	vertical-align: bottom;
}

.boxRecherche form input {
	border: 1px solid #DADADA;
	width: 70%;
	padding: 10px 30px;
	border-radius: 25px;
	bottom: 30px;
}

.connexionDropDown {
	margin-left: 10px;
}

.connexionDropDown>button {
	font-weight: bold;
	color: #FFF;
	background: transparent;
}

.connexionDropDown>button>span.caret {
	margin-left: 5px;
}

.header .menu-default .menu-container .connexionDropDown .dropdown-menu a
	{
	color: #000;
}

.header .menu-default .menu-container .connexionDropDown .dropdown-menu i
	{
	margin-right: 10px;
}

.boxSettingUser {
	margin-top: 150px;
	margin-bottom: 50px;
	background: #3AB7A9;
}

.boxSettingUser .menu {
	padding-left: 0px;
	padding-right: 0px;
}

.boxSettingUser .menu ul {
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

.boxSettingUser .menu li a {
	margin: 5px 0;
	width: 100%;
	padding: 15px;
	display: block;
}

.boxSettingUser .menu li a, .boxSettingUser .menu li a:hover,
	.boxSettingUser .menu li a:link {
	color: #FFF;
	text-decoration: none;
}

.boxSettingUser .menu li.selected a, .boxSettingUser .menu li:hover a {
	background: #FFF;
	color: #777;
}

.boxSettingUser .box {
	background: #FFF;
	padding-left: 0px;
	padding-right: 30px;
}

.boxSettingUser .box>form {
	padding: 30px;
	overflow: hidden;
}

.boxSettingUser .box>form .listeImage {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	text-align: center;
}

.boxSettingUser .box>form .listeImage li {
	display: inline-block;
	cursor: pointer;
}

.boxSettingUser .box>form .listeImage li.selected {
	background: #DADADA;
}

.boxSettingUser .box>form .listeImage li img {
	margin: 15%;
	width: 70%;
}

.boxSettingUser .box.projetPopulaireTitre .boxItems {
	padding: 30px;
	margin: 0;
}

.modifierProjet, .modifierProjet:hover, .modifierProjet:link {
	background: #3ab7a9 none repeat scroll 0 0;
	color: #fff !important;
	display: block;
	overflow: hidden;
	padding: 15px;
	text-align: center;
	width: 100%;
}

.boxSettingUser .box.projetPopulaireTitre .boxItems .item {
	margin: 0;
}

.boxSettingUser .box form textarea {
	border: 1px solid #DADADA;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

.boxSettingUser .box form {
	color: #777;
}

.boxSettingUser .box form input {
	font-family: "Source Sans Pro";
}

.boxSettingUser .box form .titre {
	font-size: 25px;
	font-family: 'Source Sans Pro';
	color: #3AB7A9;
	font-weight: bold;
	text-transform: uppercase;
}

.boxSettingUser .addRecompense {
	border: 1px solid #DADADA;
	padding: 10px;
	cursor: pointer;
}

.boxSettingUser .listeRecompense {
	list-style: none;
	margin: 0;
	padding: 0;
}

.boxSettingUser .listeRecompense li {
	border: 1px solid #DADADA;
	padding: 15px;
	position: relative;
	margin-bottom: 10px;
	border-left: 2px solid #3AB7A9;
}

.boxSettingUser .listeRecompense li>i {
	position: absolute;
	top: 5px;
	cursor: pointer;
	right: 5px;
}

.boxSettingUser .listeRecompense li>i:hover {
	color: #EE161F;
}

.logoHome {
	background: url('../image/mycause_new_logo.png') no-repeat;
	background-size: 100%;
	width: 200px;
	height: 75px;
	display: block;
}

@media ( max-width :992px) {
	.projetBody .header .navbar .menu-default {
		margin-top: 15px;
	}
	.projetBody .boxHeaderProjet {
		height: 310px;
	}
	.projetBody .boxRecherche form {
		bottom: -250px;
	}
	.topChiffre .chiffre {
		font-size: 40px;
	}
	.topChiffre .sub-title {
		font-size: 20px;
	}
	.logo {
		display: none;
	}
	.boxChiffre .item {
		display: none;
	}
	.boxItems .item {
		margin-bottom: 30px;
	}
	.contact-sec {
		width: 90%;
	}
}

@media ( max-width :768px) {
	.imageBackground .header {
		position: relative;
	}
	.header .menu-default .menu-container>ul>li {
		float: none;
		text-align: center;
	}
	.button_donate {
		display: none;
	}
	.connexionInscription {
		display: block;
	}
	.header .menu-default .menu-container ul>li>a strong::after {
		background: none;
	}
	.header .navbar .menu-default, .header .menu-default .menu-container {
		float: none;
	}
	.boxChiffre .titre {
		display: none;
	}
	.header .menu-default .menu-container>ul>li {
		background: rgba(0, 0, 0, 0.5);
	}
	.contact-sec {
		margin: 15px auto 0;
	}
	.topChiffre {
		display: none;
	}
	.recompense {
		margin-top: 20px;
	}
	.projetBodyFiche .header .navbar .menu-default {
		margin-top: 15px;
	}
	.projetBodyFiche .boxHeaderProjet {
		height: 350px;
	}
	.projetBodyFiche .boxHeaderProjet .boxTitre {
		height: 350px;
	}
	.buttonFaireDonLien {
		display: none;
	}
	.boxTitre h1 {
		font-size: 25px;
	}
}

@media ( max-width :600px) {
	.populaire .text {
		font-size: 16px;
		padding: 15px;
		text-align: center;
	}
	.boxItems .item {
		margin-right: 0 !important;
		padding-right: 0;
	}
	.projetPopulaireTitre h2::after {
		background: none;
	}
	.projetPopulaireTitre h2 {
		margin: 0;
		border-top: 1px solid #FFF;
		border-bottom: 1px solid #FFF;
		padding: 10px 0;
	}
}